body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: transparent /* !i   mportant */;
  z-index: 10;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-nav .nav-link {
  color: black; 
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #A3C293 ; 
}

.carousel.slide {
  height: 100vh;
}

.carruselImg {
  height: 100vh;
  object-fit: cover;
  filter: grayscale(100%) opacity(60%);
}

.logo-img {
  max-width: 300px;
  opacity: 0.9;
}


.quienesSomos {
  padding: 2rem;
  background-color:#FFFF;
  border-radius: 0.5rem;
}

h2.fuentePrimates {
  font-size: 2.5rem;
  margin-top: 5rem;
}

.fuentePrimates {
  font-family: 'Bebas Neue', sans-serif;
  color: #333;
}

.quienesSomos {
  height: 80vh;
  background-color: #FFFF;
}

.quienesSomos h2{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5rem; 
  text-transform: uppercase;
  text-align: center;
  color: #333;
  line-height: 0.9;
}

.quienesSomos p{
  font-size: 1.6rem;  
  color: #333;
  text-align: justify;
  max-width: 90%;
  margin-top: 5rem;
}

.fotosNosotros{
  padding: 2rem;
  margin-top: 5rem;
}

.fotosNosotros .card{
  border: none;
  box-shadow: none;
  
}

.fotosNosotros .row {
  height: 100%;
}

.fotosNosotros img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.2s ease-out;
  transform: scale(1.00);
}

.fotosNosotros img:hover {
  transition: 0.2s ease-in;
  transform: scale(1.05);
}



